@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
}

.cl-userProfile-root {
  height: 680px;
}

.cl-internal-b3fm6y,
.cl-internal-wkkub3 {
  display: none;
}

.cl-internal-uyu30o {
  padding: 0;
}

.mantine-ActionIcon-loader {
  display: none
}

.bn-side-menu {
  margin-right: 5px;
  gap: 5px;
}

/* scrollbar */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .06);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* scrollbar */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: 24px !important;
  /* Adjust the font size for h1 */
}

h2 {
  font-size: 22px !important;
  /* Adjust the font size for h2 */
}

h3 {
  font-size: 20px !important;
  /* Adjust the font size for h3 */
}

h4 {
  font-size: 18px !important;
  /* Adjust the font size for h4 */
}

h5 {
  font-size: 16px !important;
  /* Adjust the font size for h5 */
}

h6 {
  font-size: 14px !important;
  /* Adjust the font size for h6 */
}

/* Mặc định cho theme sáng */
.ce-editorjsColumns_col {

  border: 1px solid #ccc;
}

.ce-toolbar__actions {
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-toolbar__plus:hover {
  background: #fff;
  color: inherit;
}

.ce-block--selected .ce-block__content {
  background-color: transparent;
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
  color: inherit;
}

::selection {
  background: #000;
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover__item:hover,
.ce-toolbar__settings-btn:hover {
  background-color: #aaaaaa;
  color: inherit;
}

.cdx-notify--error {
  background: #fb5d5d !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
  background: white;
}

/* Chế độ tối */


.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .cdx-button,
.dark .cdx-attaches__title,
.dark .cdx-attaches__download-button{
  background: #fff;
  color: #000;
}
.dark .ce-toolbar__settings-btn{
  background-color: transparent;
  color: #616161;

}


.dark .ce-popover,
.dark .ce-inline-toolbar {
  background-color: #1f1f1f;
  box-shadow: 0 4px 12px #0f0f0f;
  border:1px solid #161616;
}
.ce-popover{
  width: 375px;
  top: 40px;
}
.ce-popover-item__icon {
  width: 34px;
  height: 34px;
}
.dark .ce-popover-item ,
.dark .ce-inline-tool,
.dark .cdx-settings-button,
.dark .cdx-text-variant__toggler{
  background-color: #1f1f1f;

  color: #fff;
}
.dark .ce-popover-item:hover{
  background-color: #000;
}
.dark .ce-popover-item__icon{
  background: #000;
  border: none;
}
.dark .ce-popover-item__secondary-title{
  background: black;
  color: #fff;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  border-radius: 20px;
}
.dark .cdx-search-field__input,
.dark .ce-popover__search{
  background-color: #000;
}

.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,

.dark .ce-toolbar__plus {
  color: #616161;
}

.dark ::selection {
  background: #4d4d4d;
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-toolbar__settings-btn:hover,
.dark .ce-toolbar__plus:hover {
  background-color: #4d4d4d;
  color: #fff;
}

.dark .cdx-notify--error {
  background: #fb5d5d !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: #1a1a1a;
}

.dark .style-textarea.cdx-input,
.dark .class-input.cdx-input,
.dark .id-input.cdx-input {
  background-color: white !important;
  color: black !important;
}

.fc-button-primary{
  border: 1px solid #f0f0f0!important;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: #fff!important;
  color: #000!important;
}
.dark .fc-button-primary{
  border: 1px solid transparent!important;
  text-transform: capitalize;
  background: #000 !important;
  color: #fff!important;
}
.dark .fc-button-primary:hover{
  background-color: #000;
  border:1px solid #fff!important
}
.dark .fc .fc-daygrid-day.fc-day-today{
  background-color: rgba(0, 0, 0, 0.45)!important;
  color: #dfdfdf;
}
.fc .fc-daygrid-day.fc-day-today{
  position: relative;
  background-color: rgba(0, 0, 0, 0.05)!important;
  color: #474747;
}
.fc .fc-daygrid-day.fc-day-today::before{
  content: "Today";
 
  position: absolute;
  top: 0;
  left: 3px;
}
.fc-view{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dark .fc-view{
 background-color: #161616;
}